@model List<test_application_dotnet.Models.Domain.Employees>

@{
}

<h1>Employees Lists</h1>
<br />
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Salary</th>
            <th>Date of Birth</th>
            <th>Department</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
        <tr>
            <td>@employee.Id</td>
            <td>@employee.Name</td>
            <td>@employee.Email</td>
            <td>@employee.Salary</td>
            <td>@employee.DateofBirth.ToString("dd-mm-yyyy")</td>
            <td>@employee.Department</td>
                <td><button class="btn btn-primary" onclick="window.location.href='@Url.Action("UpdateEmployee", "Employees", new { id = employee.Id })'">Update</button></td>
        </tr>
        }
    </tbody>
</table>